body{
    font-family: Arial;
    margin:0 ;
}
.header{
    background: #0a7d3b
    color : white;
    text-align : center
    padding: 20px;
}
.nav ul{
    list-style: none;
    background: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.nav ul li a:hover{
    background: #0a7d3b;
}
.content{
    padding: 20px;
}
.products{
    display: flex;
    gap: 15px;
}
.imagecontent{
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    text-align: center;
}
.imagecontent img{
    height: 150px;
    object-fit: cover;
}
.footer{
    background: #0a7d3b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
h2{
    margin-bottom: 200px;
}